<div style="display: flex; gap: 20px; flex-direction: column;">
  <button mat-raised-button color="primary" (click)="resetCard()">Reset Card</button>
  <mat-card matRipple [ngClass]="[color, isActive ? 'active' : '', isDisabled ? 'disabled' : '']"
    (click)="toggleActive()">
    <div class="card-top-row">
      <div class="card-text-col">
        <mat-card-title class="mat-card-title">{{ title }}</mat-card-title>
        <mat-card-content class="mat-card-content">{{ subtitle }}</mat-card-content>
      </div>
      <mat-card-subtitle class="card-subtitle">0</mat-card-subtitle>
    </div>
    <mat-icon svgIcon="file_copy_outline"></mat-icon>
  </mat-card>

  <div class="card-container" *ngIf="isActive">
    <h1> {{ containerTitle }} <mat-icon class="icon-close" (click)="close()">close</mat-icon>
    </h1>

    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon
    from cluster card that is active
    <br />
    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon
    from cluster card that is active

    <br />
    <br />
    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon
    from cluster card that is active
    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon
    from cluster card that is active
    Please detach component and add the content that you need.
    <mat-icon class="icon-file" svgIcon="file_copy_outline"></mat-icon>
  </div>
</div>
