<div class="container">
  <h1>Test</h1>

  <section>
    <h2>Lista de taskuri</h2>
    <ol>
      <li>
        Corectat designul la ambele style-uri din componenta card potrivit detaliilor din figma:
        <a href="https://www.figma.com/design/P9DJKUG0AuGutH5WeQ3kA4/Test-UI?node-id=0-1&t=FfBuK4HTWsBIEl8Y-0"
          target="_blank" rel="noopener">Link figma</a>
      </li>
      <li>Adaptat mat-card-ul pentru fiecare state descris în figma (default, hover, active, clicked, disabled)</li>
      <li>Preluat informațiile din display component și utilizate în card component (title și subtitle)</li>
      <li>Containerul apare când cardul este în active state. Close button ascunde containerul și dezactivează active
        state-ul.</li>
    </ol>
  </section>
  <section>
    <div *ngIf="isActiveCardDisabled" class="info-message">
      <mat-icon color="warn">block</mat-icon>
      <span>All inputs and card are disabled until you reset the card.</span>
    </div>
  </section>

  <section class="status-section">
    <p>
      <strong>Status mat-card:</strong>
      Afișează aici statusul cardului ( <b>
        {{ isActive ? 'open/active' : (isActiveCardDisabled ? 'disabled' : 'closed/inactive') }}</b>
      )
    </p>
  </section>

  <div class="row">
    <div class="col-md-3">
      <div class="card-color">
        <mat-form-field appearance="fill">
          <mat-label>Selectează culoarea cardului</mat-label>
          <mat-select [(value)]="selectedColor" [disabled]="isActiveCardDisabled">
            <mat-option *ngFor="let color of colorOptions" [value]="color.value">
              {{ color.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="card-title-content">
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Title container Input</mat-label>
          <input matInput type="text" [(ngModel)]="titleContainer" [disabled]="isActiveCardDisabled" />
        </mat-form-field>
      </div>
      <div class="card-display">
        <app-display (titleChange)="titleCard = $event" (subtitleChange)="subtitleCard = $event"
          [isDisabled]="isActiveCardDisabled" [resetInput]="isResetInput"></app-display>
      </div>
    </div>
    <div class="col-md-6">
      <app-card [title]="titleCard" [subtitle]="subtitleCard" [containerTitle]="titleContainer" [color]="selectedColor"
        (activeChange)="isActive = $event" (disabledChange)="onCardDisabledChange($event)"></app-card>
    </div>
  </div>
</div>
